@import "variables";
@import "mixins";

.vv-imageslider {
	position: relative;
	overflow: hidden;
	height: 700px;

	ul.vv-imageslider-wrapper {
		position: relative;
		left: 0;
		list-style: none;
		margin: 0;
		min-width: 100%;
		-webkit-transition: left 0.66s ease;
		transition: left 0.66s ease;
	}

	li.vv-imageslider-slide {
		float: left;
		overflow-y: hidden;

		img {
			// display: none; // will be overwritten by the plugin. But I want no flickering.
			margin: 0;
			max-width: initial !important;
		}
	}

	.vv-imageslider-trigger {
		position: absolute;
		width: 150px;
		height: 100%;
		top: 0;
		background-color: $darkgray;
		opacity: 0.1;
		cursor: pointer;

		&.vv-imageslider-trigger-left {
			left: 0;
		}
		&.vv-imageslider-trigger-right {
			right: 0;
		}

		&:hover {
			opacity: 0.33;
		}
		&:active {
			opacity: 0.66;
		}

		.vv-imageslider-trigger-icon {
			display: block;
			position: absolute;
			top: calc(50% - #{$scrollicon-dimension / 2});
			left: calc(50% - #{$scrollicon-dimension / 2});
			width: $scrollicon-dimension;
			height: $scrollicon-dimension;
			line-height: $scrollicon-dimension;
			font-size: 100px;
			color: $white;

			@include unselectable();
		}
	}

}

;